image:
  repository: postgres
  pullPolicy: IfNotPresent
  tag: "15-alpine"

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext:
  fsGroup: 999

securityContext: {}

service:
  type: ClusterIP
  port: 5432

config:
  database: "appdb"

secrets:
  username: "postgres"
  password: "changeme"

persistence:
  enabled: true
  storageClass: ""
  accessMode: ReadWriteOnce
  size: 1Gi

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

nodeSelector: {}

tolerations: []

affinity: {}

environment: dev

syncWave: "0"
