apiVersion: v1
kind: Secret
metadata:
  name: {{ include "backend.fullname" . }}
  labels:
    {{- include "backend.labels" . | nindent 4 }}
type: Opaque
data:
  db-user: {{ .Values.secrets.dbUser | b64enc | quote }}
  db-password: {{ .Values.secrets.dbPassword | b64enc | quote }}
