# Staging environment values for Redis

replicaCount: 1

image:
  repository: redis
  tag: "7-alpine"

resources:
  limits:
    cpu: 400m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi

environment: staging

syncWave: "0"
